<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><b>JOB APPS APP</b></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= render 'devise/menu/registration_items' %></li>
  <li><%= render 'devise/menu/login_items' %></li>
  <li><%= link_to "Your Jobs", user_jobs_path(current_user) %></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</div>